In [1]:
import geopandas

In [5]:
geopandas.datasets.get_path('naturalearth_lowres')

'/home/sage/anaconda3/envs/geo/lib/python3.7/site-packages/geopandas/datasets/naturalearth_lowres/naturalearth_lowres.shp'

In [11]:
countires = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))

In [13]:
countires.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253,Africa,W. Sahara,ESH,906.5,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

In [14]:
cities = geopandas.read_file(geopandas.datasets.get_path('naturalearth_cities'))

In [19]:
cities.head()

           name                   geometry
0  Vatican City  POINT (12.45339 41.90328)
1    San Marino  POINT (12.44177 43.93610)
2         Vaduz   POINT (9.51667 47.13372)
3    Luxembourg   POINT (6.13000 49.61166)
4       Palikir  POINT (158.14997 6.91664)

In [20]:
url = "http://d2ad6b4ur7yvpq.cloudfront.net/naturalearth-3.3.0/ne_110m_land.geojson"

In [21]:
df = geopandas.read_file(url)

In [22]:
df.head()

   scalerank featureclass                                           geometry
0          1      Country  POLYGON ((-59.57209 -80.04018, -59.86585 -80.5...
1          1      Country  POLYGON ((-159.20818 -79.49706, -161.12760 -79...
2          1      Country  POLYGON ((-45.15476 -78.04707, -43.92083 -78.4...
3          1      Country  POLYGON ((-121.21151 -73.50099, -119.91885 -73...
4          1      Country  POLYGON ((-125.55957 -73.48135, -124.03188 -73...

In [23]:
facilities_url = 'https://mapservices2.jeffco.us/arcgis/rest/services/jMap/FacilityLocation/MapServer/0/query?where=ObjectID%3E0&f=geoJSON'

In [24]:
facilities = geopandas.read_file(facilities_url)

In [25]:
facilities.head()

                                 TENANT                     geometry
0                            OPEN SPACE  POINT (-105.24808 39.73065)
1                               LIBRARY  POINT (-105.05732 39.76267)
2  FACILITIES & CONSTRUCTION MANAGEMENT  POINT (-105.10776 39.71205)
3        CLERK & RECORDER MOTOR VEHICLE  POINT (-105.07970 39.81430)
4                           FAIRGROUNDS  POINT (-105.17004 39.72279)